<header class="header--container">
    <span class="menu--image">
      <img class="header--container__menu" src="./Menu.svg" alt="Menu">
      <div class="tooltip">
        <p routerLink="/register">Registrarse</p>
        <p routerLink="/login">Autenticarse</p>
      </div>
    </span>
    <img src="./logotipo.png" alt="" routerLink="inicio" routerLinkActive="active">
    <input type="text" placeholder="Buscar...">
    <section>
        <img src="./Parati.svg" alt="">
        <p>Para tí</p>
    </section>
    <section>
        <img src="./Tendencia.svg" alt="">
        <p>Tendencias</p>
    </section>
    <section>
        <img src="./Favoritos.svg" alt="">
        <p>Favoritos</p>
    </section>
    <section routerLink="/login">
        <img src="./Salir.svg" alt="">
        <p>Salir</p>
    </section>
</header>
<nav class="menu--container">
    <ul>
        <li routerLink="inicio" routerLinkActive="active">Inicio</li>
        <li routerLink="hacer-pedido" routerLinkActive="active">Hacer pedido</li>
        <li routerLink="revisar-pedido" routerLinkActive="active">Revisar pedido</li>
        <li routerLink="quienes-somos" routerLinkActive="active">Quienes somos</li>
        <li routerLink="contactanos" routerLinkActive="active">Contactanos</li>
    </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer--container">
    <p>Copy Rigth &#64; todos los derechos reservados</p>
    <p>Realizado por Sublima2 2025</p>
</footer>
