@import '../../ds/colors/variables';
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $blue-color;
    justify-content: space-around;
    align-items: center;
    & .header--container__menu {
        height: 7vh;
        cursor: pointer;
    }
    & input {
        width: 30vw;
        height: 5vh;
        border: 1px solid $dark-blue-color;
    }
    & section {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        & img {
            margin-top: 2vh;
            height: 5vh;
        }
    }
    & img {
        cursor: pointer;
    }
}

ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    background-color: $dark-blue-color;
    align-items: center;
    & li {
        list-style: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
}

.footer--container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    color: white;
    background-color: $dark-blue-color;
    text-align: center;
}

.active {
    color: $orange-color !important;
}

.tooltip {
    display: none;
    position: absolute;
    left: 1vw;
    top: 10vh;
    width: 30vw;
    text-align: center;
    background-color: rgba($color: $green-yellow-color, $alpha: 0.9);
    color: $dark-blue-color;
    cursor: pointer;
    & p:hover {
        color: $yellow-color;
    }
}

.menu--image:hover .tooltip {
    display: block;
}

@media only screen and (min-width: 767px) {
    ul {
        flex-direction: row;
        width: 97.4vw;
        height: 10vh;
        justify-content: space-around;
    }
    .footer--container {
        margin-top: 0;
    }
    .tooltip {
        width: 12vw;
    }
}

@media only screen and (min-width: 1024px) {
    ul {
        flex-direction: row;
        width: 97.4vw;
        height: 10vh;
        justify-content: space-around;
    }
    .footer--container {
        margin-top: 0;
    }
    .tooltip {
        width: 10vw;
    }
}
