<header class="header--container">
    <img class="header--container__menu" src="./Menu.svg" alt="Menu">
    <img src="./logotipo.png" alt="">
    <input type="text" placeholder="Buscar...">
    <section>
        <img src="./Parati.svg" alt="">
        <p>Para tí</p>
    </section>
    <section>
        <img src="./Tendencia.svg" alt="">
        <p>Tendencias</p>
    </section>
    <section>
        <img src="./Favoritos.svg" alt="">
        <p>Favoritos</p>
    </section>
    <section>
        <img src="./Salir.svg" alt="">
        <p>Salir</p>
    </section>
</header>
<nav class="menu--container">
    <ul>
        <li>Inicio</li>
        <li>Hacer pedido</li>
        <li>Revisar pedido</li>
        <li>Quienes somos</li>
        <li>Contactanos</li>
    </ul>
</nav>
<div class="body--container">
    <h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum
    </p>
    <div class="body--container__images">
        <img class="logo" src="./LogoConImagen.png" alt="Logo con estampado">
        <img src="./Perro.png" alt="Logo con estampado">
    </div>
</div>
<footer class="footer--container">
    <p>Copy Rigth &#64; todos los derechos reservados</p>
    <p>Realizado por Sublima2 2025</p>
</footer>
